@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>CATERING <span class="text-muted">for any occasion...</span></h3>

<!--Titles-->
<h1>CATERING <span class="text-muted">for any occasion...</span></h1>
<!--25 Year Intro-->
<p class="overview">
    Blues BBQ's food is freshly prepared daily in our kitchen using only the finest ingredients.
    We've been serving the Kanawha Valley for 14 years, from downtown Charleston to Mingo County and beyond.  We set-up. clean-up, and serve if needed.
    Please call one day in advance.
    All serving products incldued.  15% gratuity added.
    <br><br>We take pride in providing you and your guests with an experience you will never forget!
</p>
<!--25 Year Intro Con't-->
<p class="secondoverview">
    Blues BBQ caters for any occasion, for any size (1-100+), and it's ready in a jiff!
    <br> It's easy: please order by phone at least one day in advance, some orders require less lead time.
    <br>Preparation cost is only $30 and comes with FREE delivery.
</p>

<!--25 Year Intro END-->

<hr style="BORDER-RIGHT: medium none; BORDER-TOP: #000000 1px solid; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; HEIGHT: 1px">

<p class="howto_order"> Order 'N Eat in 3 Steps:</p>

<div class="ordersteps">
    <p> Select your food options from our catering menu listed below.</p>
    <p> Call us with your order: <a href="tel:304-744-8835">(304) 744-8335</a><br> (Delivery includes utensiles, tables and table cloths, and heating/cooling dishes!)</p>
    <p> Chow down!</p>
</div>

<p>Need staff to serve our award-winning food?! No problem, we've got you covered!</p>


<!--CATERING MENU--><!--CATERING MENU--><!--CATERING MENU--><!--CATERING MENU-->
<!--CATERING MENU--><!--CATERING MENU--><!--CATERING MENU--><!--CATERING MENU-->
<hr style="BORDER-RIGHT: medium none; BORDER-TOP: #000000 1px solid; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; HEIGHT: 1px">


<h1>CATERING MENU</h1>

<div class="base_package">
    <h2><u>BASE PACKAGE</u></h2>
</div>
<p>
    Pulled Pork BBQ, cole slaw, buns,<br>
    choice of two sides, drinks, dessert<br>
    <span class="price">$10.50 per person</span>
</p><br>
<div class="add">
    <h2><u>ADD</u></h2>
</div>
<p>
    BBQ Chicken or Jerk Chicken - <span class="price">$13</span>
    <br>Baby Back Ribs - <span class="price">$18</span>
    <br>Beef Brisket - <span class="price">$18</span>
    <br>***Please order brisket two days ahead; smoked to order
    <br><span class="price">
        Blues offers vegetable/fruit trays, vegetarian options,
        and any items from our regular menu!
    </span>
</p>

<div class="go_light">
    <h2><u>GO LIGHT!</u></h2>
</div>
<p>
    <span class="price">Salad - $2 per person</span><br>
    Order a mixed green salad with various toppings for lunch along with our BBQ.
    Try grilled vegetables, smoked salmon, or seasonal fruit.
    Talk to our catering director for more options.
</p>

<div class="dessert">
    <h2><u>DESSERT OPTIONS</u></h2>
    <p>cookies, brownies, strawbeerry shortcake</p>
</div>

<hr style="BORDER-RIGHT: medium none; BORDER-TOP: #000000 1px solid; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; HEIGHT: 1px">

<h1>PICK UP ORDERS</h1>
<p>Call ahead and we'll have it ready when you arrive.</p>

<h1>Prices Per Pound</h1>
<p>
    Pulled Pork - <span class="price">$9.49</span><br>
    Jerk Chicken - <span class="price">$10.49</span><br>
    Beef Brisket - <span class="price">$17.50</span><br>
    Cole Slaw (creamy or spicy) - <span class="price">$3.29</span><br>
    Potato Salad - <span class="price">$4.69</span><br>
    Baked Beans - <span class="price">$4.69</span><br>
    Collard Greens - <span class="price">$3.99</span>
</p>

<div id="dinner_package">
    <h1>PICK-UP PACKAGES:</h1>
    <!--QUICK DINNER LEFT COLUMN-->
    <div class="row">
        <div class="column">
            <ul class="quick_dinner">
                <h2><u>QUICK DINNER</u></h2>
                <p>
                    One pound BBQ<br>
                    Half-pound slaw<br>
                    4 buns<br>
                    <span class="price">$12.53</span>
                </p>
        </div>
        <!--BIG DINNER Right COLUMN-->
        <div class="column">
            <h2><u>BIG DINNER</u></h2>
            <p>
                (serves 6-8)<br>
                Two pounds BBQ<br>
                One pound slaw<br>
                1.5 pounds baked beans<br>
                and potato salad<br>
                8 Buns<br>
                <span class="price">$39.13
            </p>

        </div>
    </div>
</div>