@{
                /**/

                ViewBag.Title = "Give Me 'a Holler";
}
<h2>@ViewBag.Title :</h2>
<h3>Bring all your kin, they love Blue's BBQ too:</h3>

<p>
    Blues BBQ<br>
    1109 Jefferson Rd.<br>
    South Charleston, WV 25309
</p>

<div class="phone">
    Call us with your order: <a href="tel:304-744-8835">(304) 744-8335</a>
</div>

<!-- GOOGLE MAP -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3129.2491790735075!2d-81.70704692556812!3d38.34321435252051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x884f32bb8560f37b%3A0xc202e8267978e81b!2sBlues+BBQ+%26+Catering!5e0!3m2!1sen!2sus!4v1520380930448"
            width="1200" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
