<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

</body>
</html>

<!DOCTYPE html>
<!-- saved from url=(0063)http://getbootstrap.com/docs/4.0/examples/carousel/?#myCarousel -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link class="tabicon" rel="icon" href="images/favicon-60.png">

    <title>Blues BBQ</title>
    <!-- Bootstrap core CSS -->
    <link href="index_files/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="index_files/carousel.css" rel="stylesheet">
    <link href="index_files/my_css/index.css" rel="stylesheet">
</head>
<body>
    <header>
        <!--NAV BARS-->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="index.html">
                <span class="bluebbq_blue">Blues</span>
                <span class="bluebbq_red">BBQ</span>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="menu.html">
                            Menu
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="catering.html">Catering</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="reviews.html">Reviews</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="contact.html">Location & Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="main">
        <main role="main">
            <!--CAROUSEL--> <!-- Found in carousel.css-->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <img class="first-slide" src="images/best_wings_fb1000.jpg" alt="First slide">
                        <div class="container">
                            <div class="carousel-caption text-left">
                                <h1>Easy to prep, quick to eat!</h1>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                <p><a class="btn btn-lg btn-primary" href="" role="button">Sign up today</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <img class="second-slide" src="images/egg_roll/IMG_8209.JPG" width="100px" height="669px" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Best Condiments</h1>
                                <p>No sweat, we have you covered with the best condiments to use for the most authentic taste!</p>
                                <p><a class="btn btn-lg btn-primary" href="" role="button">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel_container">
                        <div class="carousel-item active">
                            <img class="third-slide" src="images/best_wings_fb1000.jpg" width="800" height="712" alt="Third slide">
                            <div class="container">
                                <div class="carousel-caption text-right">
                                    <div class="carousel3font"><h1>Voted Best Wings in Charleston!</h1></div> <!-- Found in carousel.css-->
                                    <p>What a taste! Try 12 wings today and leave happy! </p>
                                    <p><a class="carousel_btn" href="" role="button">Browse Our Wings</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Marketing messaging and featurettes
            ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->
            <div class="container marketing">

                <!-- Three columns of text below the carousel -->
                <div class="row">
                    <div class="col-lg-4">
                        <a href="catering.html"><img class="rounded-circle" src="images/catering.jpg" alt="finshed egg roll" width="140" height="140"></a>
                        <a class="triclass" href="catering.html"><h2>Request Catering</h2></a>
                        <p>
                            Catering for any size party...anywhere!<br>
                            Offering pork, brisket, and jerked chiken by the pound.
                        </p>
                        <!--<p><a class="btn btn-secondary" href="catering.html" role="button">Catering Menu »</a></p>-->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <a href="menu.html"><img class="rounded-circle" src="images/outside_sign.jpg" alt="Generic placeholder image" width="140" height="140"></a>
                        <a class="triclass" href="menu.html"><h2>Carry-out Orders</h2></a>
                        <p>Choose from our <a class="dine_in" href="menu.html">dine-in menu</a> or select a popular <a href="file:///C:/Users/TheFonz2015/Desktop/Virtual%20Business%20&%20Web%20Dev/Blues%20BBQ/catering.html#dinner_package">dinner package</a> (feeds 4-8).</p>
                        <!--<p><a class="btn btn-secondary" href="menu.html" role="button">Menu »</a></p>-->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <a href="file:///C:/Users/TheFonz2015/Desktop/Virtual%20Business%20&%20Web%20Dev/Blues%20BBQ/menu.html#wings"> <img class="rounded-circle" src="images/wings.jpg" alt="Generic placeholder image" width="140" height="140"></a>
                        <a class="triclass" href="file:///C:/Users/TheFonz2015/Desktop/Virtual%20Business%20&%20Web%20Dev/Blues%20BBQ/menu.html#wings"><h2>Award Winning Wings</h2></a>
                        <p>We won "Charleston's Best Wings" for a reason! Try an order for only 10 bucks!</p>
                        <!--<p><a class="btn btn-secondary" href="file:///C:/Users/TheFonz2015/Desktop/Virtual%20Business%20&%20Web%20Dev/Blues%20BBQ/menu.html#wings">View details »</a></p>-->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
                <!-- START THE FEATURETTES -->
                <hr class="featurette-divider">
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Welcome to <span class="blue_text">Blue's BBQ</span><span class="text-muted"><br><span class="red">Best Wings in Charleston 2017 Winner! <span class="text-muted1">- by People's Choice Award</span></span></span></h2>
                        <p class="lead">Blues BBQ's food is freshly prepared daily in our kitchen using only the finest ingredients. We've been serving the Kanawha Valley for 14 years, from downtown Charleston to Mingo County and beyond.</p>
                    </div>
                    <div class="col-md-5">
                        <img class="featurette-image img-fluid mx-auto" src="images/store_front.png" alt="500x500" style="width: 500px; height: 500px;" data-holder-rendered="true">
                    </div>
                </div>
                <hr class="featurette-divider">
                <!--  <div class="row featurette">
                      <div class="col-md-7">
                        <h2 class="featurette-heading"><span class="blue_text">MESQUITE-SMOKED WINGS</span><br>Checkmate!</span></h2>
                        <p class="lead">Exotic name, full-flavored taste!  Has anyone told you the meat literally falls off the bone?
                                        It's true, we make our wings like no other.  Prepared for dine-in or pickup.
                                        <a href="menu.html">(Full Blue's BBQ menu)</a></p>
                      </div>
                      <div class="col-md-5">
                        <img class="featurette-image img-fluid mx-auto" src="images/wings.jpg" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15f8e669ec1%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15f8e669ec1%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
                      </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">

                        <div class="col-md-7">
                          <h2 class="featurette-heading">Yum! Our Pulled Pork BBQ <span class="text-muted">It'll blow your mind!</span></h2>
                          <p class="lead">Our most popular sandwich!  Made with Our most popular sandwich!  Made withOur most popular sandwich!  Made withOur most popular sandwich!  Made with.</p>

                      </div>
                      <div class="col-md-5">
                        <img class="featurette-image img-fluid mx-auto" src="images/bbq_sandwich2....jpg" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15f8e669ebb%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15f8e669ebb%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                      </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                      <div class="col-md-7 order-md-2">
                        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                        <p class="lead">Our most popular sandwich!  Made with Our most popular sandwich!Our most popular sandwich!  Made with Our most popular sandwich!</p>
                      </div>
                      <div class="col-md-5 order-md-1">
                        <img class="featurette-image img-fluid mx-auto" src="images/ribs.jpg" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15f8e669ebf%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15f8e669ebf%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
                      </div>
                    </div>

                    <hr class="featurette-divider">-->
                <!-- /END THE FEATURETTES -->
            </div><!-- /.container -->
            <!-- GOOGLE MAP -->
            <div class="map" /><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3129.2491790735075!2d-81.70704692556812!3d38.34321435252051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x884f32bb8560f37b%3A0xc202e8267978e81b!2sBlues+BBQ+%26+Catering!5e0!3m2!1sen!2sus!4v1520380930448"
                                       width="1200" height="500" frameborder="0" style="border:0" media="(max-width: 800px)"></iframe>
    </div>


    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="http://getbootstrap.com/docs/4.0/examples/carousel/?#">Back to top</a></p>
        <p>© 2017 Blues BBQ</p>
    </footer>
    </main>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./index_files/jquery-3.2.1.slim.min.js.download" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./index_files/popper.min.js.download"></script>
    <script src="./index_files/bootstrap.min.js.download"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="./index_files/holder.min.js.download"></script>

    <!-- Helps Toggle button open -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;">
        <defs>
            <style type="text/css"></style>
        </defs>
        <text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text>
    </svg>
</body>
</html>
</body>
