@*{
        ViewBag.Title = "Home Page";

    }*@


<!--Menu--><!--Menu--><!--Menu-->    <!--Menu--><!--Menu--><!--Menu-->    <!--Menu--><!--Menu--><!--Menu-->    <!--Menu--><!--Menu--><!--Menu-->
<div class="menu">
    <div class="row">
        <!--MUNCHIES LEFT COLUMN-->
        <div class="column">
            <div id="wings">
                <h1>MUNCHIES</h1>
            </div>
            <li>MESQUITE-SMOKED WINGS</li>
            <p>Finished on the grill! Served with smoked jalapeno dipping sauce and mustard bbq - <span class="price">$10</span></p>
            <li>CHEESESTICKS</li>
            <p>
                Served with a side of Ranch or salsa - <span class="price">$6.50</span>
                <li>Reggae Chili</li><span class="price">$4.50</span>
        </div>

        <!--MUNCHIES Right COLUMN-->
        <div class="column">
            <br><br>
            <li>ROADHOUSE NACHOS</li>
            <p>
                Fresh corn tortillas topped with chili, cheese, lettuce, onion, tomato, banana, and jalapeno peppers.
                Served with salsa and sour cream - <span class="price">$8</span>
            </p>
            <p>Add a scoop of pulled pork for <span class="price">$3</span></p>
            <li>BBQ QUESADILLA</li>
            <p>With sour cream, lettuce, and salsa - <span class="price">$6</span></p>
        </div>
    </div>


    <!--BBQ SANDWICHES LEFT COLUMN-->
    <div class="row">
        <div class="column">
            <h1>BBQ SANDWICHES</h1>
            <li>PULLED PORK</li>
            <p>
                Regular: <span class="price">$5</span> &nbsp;&nbsp;  Small: <span class="price">$4</span>  &nbsp;&nbsp; Sampler - each style with slaw and dinner rolls: <span class="price">$7.50</span>
                <div class="pork">
                    <li>THREE STYLES:</li>
            <p>1 - Blues Original (tomato base)</p>
        </div>
        <div class="pork">
            <p>2 - Williamsburg (molasses vinegar with a touch of clove and cinnamon)</p>
        </div>
        <div class="pork">
            <p>3 - Carolina Mustard</p>
        </div>
    </div>

    <!--BBQ SANDWICHES Right COLUMN-->
    <div class="column">
        <br><br>
        <li>POST OAK-SMOKED BEEF BRISKET</li>
        <p>Served "naked" or topped with cheddar cheese, red pepper vinegar sauce, and sauteed onions - <span class="price">$7</span></p>
        <li>HICKORY-SMOKED PORK RIB</li>
        <p>Topped with sweet bbq sauce, sauteed onions, and chedar cheese between a Kaiser roll - <span class="price">$7</span></p>
        <li>PECAN-SMOKED BOLOGNA</li>
        <p>Thick cut - <span class="price">$4.75</span></p>
    </div>
</div>

<!--OTHER SANDWICHES LEFT COLUMN-->
<div class="row">
    <div class="column">
        <h1>OTHER SANDWICHES</h1>
        <li>JERK CHICKEN</li>
        <p>Topped with Carolina kraut and pepperjack cheese - <span class="price">$7</span></p>
    </div>

    <!--OTHER SANDWICHES RIGHT COLUMN-->
    <div class="column">
        <br><br>
        <li>HOT BOLOGNA</li>
        <p>Thick cut - <span class="price">$4.25</span></p>
        <li>GRILLED CHEESE - <span class="price">$3</span></li>
    </div>
</div>

<!--SALADS LEFT COLUMN ONLY ONLY ONLY-->
<div class="row">
    <div class="column">
        <h1>SALADS</h1>
        <li>BLUES</li>
        <p>Mixed greens, tomato, onion, banana peppers topped with spicy slaw and pulled pork - <span class="price">$7</span></p>
        <li>JERK CHICKEN</li>
        <p>Mixed greens, tomato onion, banana peppers topped with jerk chicken and pepper jack cheese - <span class="price">$7.50</span></p>
        <li>SMOKED FISH</li>
        <p>Kale and mixed greens tossed with white pepper vinaigrette, topped with tomnato, cucumber, smoked salmon and grilled tuna - <span class="price">$10</span></p>
        <li>GARDEN</li>
        <p>Mixed greens, tomato, onion, banana peppers - <span class="price">$4.25</span></p>
    </div>

    <!--RIBS & CHICKEN Right COLUMN ONLY ONLY ONLY-->
    <div class="column">
        <h1>RIBS & CHICKEN</h1>
        <p>
            *Platters include coleslaw and choice of two sides*
            <br>(Onion rings count as two sides)
        </p>
        <li>HICKORY-SMOKED BABY BACK RIBS</li>
        <p>
            Naked, sweet, or spice mop<br>
            Half Rack - <span class="price">$14.50</span> &nbsp;&nbsp; Full Rack - <span class="price">$26</span>
        </p>
        <li>MESQUITE-SMOKED HALF CHICKEN</li>
        <p>Brined, mesquite-smoked half chicken with Blues Sauce or Carolina Mustard - <span class="price">$10.50</span></p>
        <h1>BURGERS & DOGS</h1>
        <li>GRILLED HAMBURGER</li>
        <p>Half-pound, any toppings - <span class="price">$7.50</span></p>
        <p>HOT DOG - <span class="price">$2.39</span></p>
    </div>
</div>



<div class="row">
    <div class="column">
        <h1>
            Fries - <span class="price">$2</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </h1>
        <p>
            With Cheese - <span class="price">$3.20</span><br>
            Chili Cheese - <span class="price">$4.25</span><br>
            Porky Fries (BBQ and cheese) - <span class="price">$7.25</span>
        </p>
    </div>

    <!--SIDES Right COLUMN-->
    <div class="column">
        <h1>SIDES</h1>
        <p>
            Baked beans <span class="price">$1.80</span> &nbsp;&nbsp; Creamy slaw <span class="price">$1.30</span><br>
            Potato salad <span class="price">$1.80</span> &nbsp;&nbsp; Spicy slaw <span class="price">$1.30</span><br>
            Collard greens <span class="price">$2</span> &nbsp;&nbsp; Onion rings <span class="price">$3</span>
        </p>
    </div>
</div>


<!--DRINKS Center COLUMN-->
<div class="column_drinks">
    <h1>DRINKS</h1>
    <p>
        Bottled water <span class="price">$1.00</span> &nbsp;&nbsp; Sodas, lemonade, iced tea, coffee <span class="price">$1.90</span><br>
        Domestic Beer <span class="price">$3.25</span> &nbsp;&nbsp; Import/craft beer <span class="price">$4.25</span>
    </p>
</div>
      </div>




<!--Menu 2nd Page--><!--Menu 2nd Page--><!--Menu 2nd Page--><!--Menu 2nd Page--><!--Menu 2nd Page-->
        </ul>
      </div>
    </div>
